bluespurs-schema/src/main/xsd/BestPrice.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"           targetNamespace="http://www.java2s.com"           elementFormDefault="qualified"           jaxb:version="2.1">    <xs:annotation>        <xs:appinfo>            <jaxb:globalBindings>                <jaxb:serializable/>            </jaxb:globalBindings>        </xs:appinfo>    </xs:annotation>    <xs:complexType name="Product">    	<xs:sequence>    		<xs:element name="productName" type="xs:string"></xs:element>            <xs:element name="bestPrice" type="xs:double"></xs:element>            <xs:element name="currency">                <xs:simpleType>                    <xs:restriction base="xs:string">                        <xs:length value="3"/>                    </xs:restriction>                </xs:simpleType>            </xs:element>            <xs:element name="location">                <xs:simpleType>                    <xs:restriction base="xs:string">                        <xs:enumeration value="Walmart"/>                        <xs:enumeration value="BestBuy"/>                    </xs:restriction>                </xs:simpleType>            </xs:element>    	</xs:sequence>    </xs:complexType></xs:schema>